<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>About Us</title>
  <link rel="stylesheet" href="../Css/about.css">

</head>
<body>
    <nav class="navbar">
        <div class="logo">Flower</div>          
        <div class="nav-center">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="../components/About.html">About</a></li>
                <li><a href="../components/Menu.html">Menu</a></li>
                <li><a href="../components/Gallary.html">Gallery</a></li>
                <li><a href="../components/customer.html">Customer</a></li>
                <li><a href="../components/Contact.html">Contact</a></li> 
            </ul>
        </div>
    </nav> 
  <img src="../asset/image.png" alt="Flower Bouquet" />
<div class="text">
    <p>flowers are an essential part of our lives.They are responsible for bringing happiness in our lives and making</p>
    <p>our surrounding environment a prettier place to live in.Flowers are nature’s masterpieces, captivating us with their vibrant colors, delicate petals, and enchanting fragrances.</p>
    <p>For millions of years, they have adorned our planet, evolving into over 400,000 species, each with its own unique beauty and purpose. From the romantic red rose to the cheerful sunflower,</p>
    <p> flowers have woven themselves into the fabric of human culture, symbolizing emotions, celebrations, and even the passage of time.</p>
</div>
</body>
</html>
