<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer</title>
    <link rel="stylesheet" href="../Css/customer.css">
</head>
<body>
  <nav class="navbar">
    <div class="logo">Flower</div>          
    <div class="nav-center">
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="../components/About.html">About</a></li>
            <li><a href="../components/Menu.html">Menu</a></li>
            <li><a href="../components/Gallary.html">Gallery</a></li>
            <li><a href="../components/customer.html">Customer</a></li>
            <li><a href="../components/Contact.html">Contact</a></li> 
        </ul>
    </div>
  </nav> 
  <h1 class="title">Customer Review</h1>
  <div class="review-container">
    <div class="card">
      <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSCaTYKb_bCC9-UGXG090Bu8ujneNjFvMKi9HnAZaV9ppWQHCqP" alt="Customer 1">
      <h3>John Deo</h3>
      <div class="stars">★★★★★</div>
      <p>Flowers display a vast range of colors, from bright yellows and reds to soothing blues and purples, making them visually appealing.</p>
    </div>
    <div class="card">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRthDWR8G5UTJiVQiObD1li8nwf5A2a9o4lXRpGLQlbPgww7NxCIo3QR3f4EXH3vVAANIU&usqp=CAU" alt="Customer 2">
      <h3>John Deo</h3>
      <div class="stars">★★★★☆</div>
      <p>Flowers display a vast range of colors, from bright yellows and reds to soothing blues and purples, making them visually appealing.</p>
    </div>
    <div class="card">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTn4r--mfEfswt8c27egGMzT4R3UOwf33W5GUNeJScML4n8IbbDJohYgHZqH7SSgdgJ3sA&usqp=CAU" alt="Customer 3">
      <h3>John Deo</h3>
      <div class="stars">★★★★☆</div>
      <p>Flowers display a vast range of colors, from bright yellows and reds to soothing blues and purples, making them visually appealing.</p>
    </div>
    <div class="card">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8dK_DDCaOtK65VmepGybMSqn_Ymf15ryggWMDjVFvcffMjGPREoiDTk3fWGri8EgHjtQ&usqp=CAU" alt="Customer 4">
      <h3>John Deo</h3>
      <div class="stars">★★★★★</div>
      <p>Flowers display a vast range of colors, from bright yellows and reds to soothing blues and purples, making them visually appealing.</p>
    </div>
  </div>
  <script src="gallary.js"></script>

</body>
</html>