<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Css/gallary.css">
</head>
<body>
  <nav class="navbar">
    <div class="logo">Flower</div>          
    <div class="nav-center">
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="../components/About.html">About</a></li>
            <li><a href="../components/Menu.html">Menu</a></li>
            <li><a href="../components/Gallary.html">Gallery</a></li>
            <li><a href="../components/customer.html">Customer</a></li>
            <li><a href="../components/Contact.html">Contact</a></li> 
        </ul>
    </div>
  </nav>
    <div class="menu-title">
      <h1>Gallary of flower</h1>
    </div>
  <div class="gallery">
    <div class="card">
      <img src="https://images.prestigeflowers.co.uk/fetch/w_600,e_sharpen:80,q_auto,f_auto,dpr_auto/https://www.prestigeflowers.co.uk/images/products/515c8b67487ce2bfb9d6c706f7921220.jpg" alt="Rose" />
      <p>Rose</p>
    </div>
    <div class="card">
      <img src="https://asset.bloomnation.com/c_pad,d_vendor:global:catalog:product:image.png,f_auto,fl_preserve_transparency,q_auto/v1612505704/vendor/6621/catalog/product/2/0/20210204101350_file_601c719ed9539_601c71e677335..jpg" alt="Lily" />
      <p>Lily</p>
    </div>
    <div class="card">
      <img src="https://www.abellamiaflowers.com/system/images/cache/37f02b09be427946ba5ccbe32418fed7.700x766.jpg" alt="Hibiscus" />
      <p>Hibiscus</p>
    </div>
    <div class="card">
      <img src="https://www.japanflowershop.com/images/detailed/1/tulip5.jpg" alt="Dahlia" />
      <p>Dahlia</p>
    </div>
    <div class="card">
      <img src="https://flowercompany.ca/cdn/shop/products/24-stems-red-rose-arrangement-toronto-flower-co-555941.jpg?v=1676627644" alt="Peony" />
      <p>Peony</p>
    </div>
    <div class="card">
      <img src="https://asset.bloomnation.com/c_pad,d_vendor:global:catalog:product:image.png,f_auto,fl_preserve_transparency,q_auto/v1721864411/vendor/5838/catalog/product/2/0/20160122104616_file_56a2b138d01f7_6_12.png" alt="Love" />
      <p>Love</p>
    </div>
    <div class="card">
      <img src="https://fyf.tac-cdn.net/images/products/small/FYF-234.jpg?auto=webp&quality=60&width=650" alt="Kolap" />
      <p>Kolap</p>
    </div>
    <div class="card">
      <img src="https://fyf.tac-cdn.net/images/products/small/F-315.jpg?auto=webp&quality=60&width=650" alt="Tulip" />
      <p>Tulip</p>
    </div>
  </div>

</body>
</html>

