<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu of Flower</title>
  <link rel="stylesheet" href="../Css/menu.css">
</head>
<body>
    <nav class="navbar">
        <div class="logo">Flower</div>          
        <div class="nav-center">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="../components/About.html">About</a></li>
                <li><a href="../components/Menu.html">Menu</a></li>
                <li><a href="../components/Gallary.html">Gallery</a></li>
                <li><a href="../components/customer.html">Customer</a></li>
                <li><a href="../components/Contact.html">Contact</a></li> 
            </ul>
        </div>
    </nav> 

  <section class="menu-section">
    <h1 class="menu-title">Menu of flower</h1>
    <div class="menu-page">
        <div class="menu-container">

        <div class="card">
            <img src="https://assets.eflorist.com/site/EF-6518/assets/products/PZM_/sku3590134.jpg?1549821540824&impolicy=hero&impolicy=hero" alt="Flower">
            <h2>Flower</h2>
            <p>flower, also known as a bloom or blossom is the reproductive structure found in flowering plants Flowers</p>
            <h3>$10.00</h3>
            <div class="stars">⭐️⭐️⭐️⭐️⭐️</div>
            <button>Order Now</button>
        </div>

        <div class="card">
            <img src="https://images.prestigeflowers.co.uk/fetch/w_600,e_sharpen:80,q_auto,f_auto,dpr_auto/https://www.prestigeflowers.co.uk/images/products/515c8b67487ce2bfb9d6c706f7921220.jpg" alt="Flower">
            <h2>Flower</h2>
            <p>flower, also known as a bloom or blossom is the reproductive structure found in flowering plants Flowers</p>
            <h3>$15.00</h3>
            <div class="stars">⭐️⭐️⭐️⭐️⭐️</div>
            <button>Order Now</button>
        </div>
        <div class="card">
            <img src="https://jamescressflorist.com/cdn/shop/products/b3f108338f722804eb26e906741e8ab6_30874129-c58c-4215-970d-0a3601a060f9.jpg?v=1692125811" alt="Flower">
            <h2>Flower</h2>
            <p>flower, also known as a bloom or blossom is the reproductive structure found in flowering plants Flowers</p>
            <h3>$20.00</h3>
            <div class="stars">⭐️⭐️⭐️⭐️⭐️</div>
            <button>Order Now</button>
        </div>

        <div class="card">
            <img src="../asset/image2.png" alt="Flower">
            <h2>Flower</h2>
            <p>flower, also known as a bloom or blossom is the reproductive structure found in flowering plants Flowers</p>
            <h3>$25.00</h3>
            <div class="stars">⭐️⭐️⭐️⭐️⭐️</div>
            <button>Order Now</button>
        </div>
        <div class="card">
            <img src="../asset/image3.png" alt="Flower">
            <h2>Flower</h2>
            <p>flower, also known as a bloom or blossom is the reproductive structure found in flowering plants Flowers</p>
            <h3>$9.00</h3>
            <div class="stars">⭐️⭐️⭐️⭐️⭐️</div>
            <button>Order Now</button>
        </div>

        <div class="card">
            <img src="https://assets.eflorist.com/site/48185077/assets/products/PHR_/sku12411260.jpg" alt="Flower">
            <h2>Flower</h2>
            <p>flower, also known as a bloom or blossom is the reproductive structure found in flowering plants Flowers</p>
            <h3>$20.00</h3>
            <div class="stars">⭐️⭐️⭐️⭐️⭐️</div>
            <button>Order Now</button>
        </div>
        <div class="card">
            <img src="https://sf.tac-cdn.net/images/v2/products/large/TEV37-1.jpg" alt="Flower">
            <h2>Flower</h2>
            <p>flower, also known as a bloom or blossom is the reproductive structure found in flowering plants Flowers</p>
            <h3>$12.00</h3>
            <div class="stars">⭐️⭐️⭐️⭐️⭐️</div>
            <button>Order Now</button>
        </div>

        <div class="card">
            <img src="https://www.fnp.com/images/pr/l/v20230816162914/love-forever-red-rose-bouquet_4.jpg" alt="Flower">
            <h2>Flower</h2>
            <p>flower, also known as a bloom or blossom is the reproductive structure found in flowering plants Flowers</p>
            <h3>$35.00</h3>
            <div class="stars">⭐️⭐️⭐️⭐️⭐️</div>
            <button>Order Now</button>
        </div>
        <!-- Add more cards as needed -->
        </div>
    </div>

  </section>
</body>
</html>
